@tailwind base;
@tailwind components;
@tailwind utilities;


/* COLORS */
:root {
    --primary: #E50914;
    --white: #FFFFFF;
    --danger: #FF0000;
}


/* UTILS */
* {
    padding: 0;
    margin: 0;
}

.form-group {
    margin-bottom: 1rem;
    text-wrap: wrap;
}

input[type=text].form-control,
input[type=email].form-control,
input[type=password].form-control {
    line-height: 1.5;
    font-size: 1rem;
    padding: 1rem 1rem 1rem 1rem;
    color: inherit;
    background: rgba(114, 153, 221, 0.2);
    color: var(--white);
    border: 1px solid rgba(255, 255, 255, .4);
    border-radius: 4px;
    width: 100%;
}

input[type=text].form-control.is-invalid,
input[type=email].form-control.is-invalid,
input[type=password].form-control.is-invalid {
    border: 1px solid var(--danger);
}

input[type=text].form-control:focus,
input[type=email].form-control:focus,
input[type=password].form-control:focus {
    border: 2px solid var(--white);
}

.invalid-feedback {
    color: var(--danger);
    font-size: small;
    letter-spacing: 0.5px;
    margin-top: 0.3rem;
}

.btn {
    width: 100%;
    background-color: var(--white);
    padding: 0.5rem;
    border-radius: 4px;
    font-weight: 500;
}

.btn.btn-primary {
    background-color: var(--primary);
    color: var(--white);
}

.btn.btn-secondary {
    background-color: rgba(255, 255, 255, .2);
    color: var(--white);
    transition: background-color .2s ease;
    -webkit-transition: background-color .2s;
    -o-transition: background-color .2s;
    -moz-transition: background-color .2s;
}

.btn.btn-secondary:hover {
    background-color: rgba(255, 255, 255, 0.15);
}

/* HEADER */
.header {
    max-width: 65%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 1rem;
    /* border: 1px solid red */
}

@media (max-width: 768px) {
    .header {
        max-width: 100%
    }
}

.header img {
    height: 42px;
    width: auto;
    margin: 1rem;
}


/* LOGIN PAGE */

.login-page {
    width: 100vw;
    min-height: 100vh;
    position: relative;

    background: url('/bg-movies-grid.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.login-page-mask {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
}

.login-page-main {
    position: absolute;
    width: 100%;
    height: 100%;
}

.login-form {
    background-color: rgba(0, 0, 0, .7);
    width: 450px;
    padding: 48px 68px;
    min-height: 500px;
    border-radius: 8px;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.login-title {
    color: var(--white);
    margin-bottom: 28px;
    font-size: 2rem;
    font-weight: 700;
}

.signup-msg {
    margin-top: 2rem;
    color: rgba(255, 255, 255, .6);
}

.signup-link {
    font-weight: 500;
    color: var(--white);
}

.signup-link:hover {
    text-decoration: underline;
    cursor: pointer;
}